@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
 }

.h3 {
    letter-spacing: 1em;
    font-weight: 300;
  }
.font {
  font-family: 'Poppins', sans-serif;
}
.navbar-color {
    background-color:#1314147a;
  }
.bg-color {
  background-color: #252525;
}
.home-img {
  display: block;
}
/* Adjustment for mobile devices*/
@media (max-width: 853px) {
  .home-img{
    display: none;
  }  }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #252525;
  bottom: 0;
}

@media screen {
  
}